.header-cocktail {
  background-size: cover;
  background-position: center;
  height: 50vh;
  color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
  font-size: 4rem;

  }
}
